<div class="view view--1">
    <div class="title title__view--1">
        17 Octobre 1961
    </div>
    <div class="title title__view--1">
        aux origines
    </div>
    <div class="element view--1__element--1"></div>
    <div class="element view--1__element--2">
        <video controls width="850">
            <source
                    src="assets/img/view--1/extrait17octobre.mp4"
                    type="video/mp4"
            />
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>
    <div class="element view--1__element--3">
        En 1961, le gouvernement français (alors en pleine guerre d’Algérie)
        impose à ses résidents algériens un couvre-feu visant à réduire
        leurs
        <span>déplacements</span> et donc leur liberté. Ceux-ci vont alors
        organiser une manifestation visant à contrer cette décision et
        l’évènement va être très violemment réprimé.
    </div>
</div>