<div class="view view--2">
    <div class="element view--2__element--1">
        Ces tensions entre les résidents algériens de l’époque et les forces
        de l’ordre ne partent pas de nulle part : en effet la France est en
        pleine guerre d’Algérie et le Front de Libération National algérien
        tente d’organiser des contre coups visant la police, protectrice du
        gouvernement français. Ces exactions créent des tensions telles que
        certains policiers se livrent à de nombreux sévices envers la
        communauté maghrébine : le compte à rebours est lancé.
    </div>
    <div class="element view--2__element--2"></div>
    <div class="element view--2__element--3">
        <video controls width="750">
            <source
                    src="assets/img/view--2/brutMassacre17octobre.mp4"
                    type="video/mp4"
            />
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>
</div>