<div class="view view--3">
    <div class="title title__view--3">
        Les repercussions
    </div>
    <div class="element view--3__element--1">
        Cet épisode historique marque surtout le fait qu’une personnalité
        politique s’est servi de son statut pour “couvrir” les agissements
        policiers, qui sortaient pourtant du cadre de leur fonction malgré
        le contexte de hautes tensions. En appliquant une répression très
        violente, on peut questionner la responsabilité du gouvernement face
        à une première fissure sociétale au sein de la France qui se veut
        pourtant démocratique, sans compter la date extrêmement tardive du
        procès et le caractère tabou du massacre dans les années qui l’ont
        suivi.
    </div>
    <div class="element view--3__element--2"></div>
    <div class="element view--3__element--3">
        <figure>
            <audio controls src="assets/img/view--3/extraitProcesPapon.mp3">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
            <figcaption
                    style="
                  font-family: 'Staatliches', cursive;
                  text-align: center;
                  margin-top: 10px;
                  font-size: 20px;
                "
            >
                Extrait audio du procès de PAPON en 1997
            </figcaption>
        </figure>
    </div>
</div>