@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');

$base-font-size: 30px;
$base-line-height: 130%;
$base-color-title: #f33a3a;
$base-font-family-title: 'Lacquer', cursive;

body {
  overflow: hidden;
}

@mixin tiny-screen {
  @media (max-height: 900px) { @content; }
}

@mixin smaller-screen {
  @media (max-width: 1600px) { @content; }
}

@mixin wider-screen {
  @media (min-width: 2000) { @content; }
}

/*
SUMMARY

#VIEW -> Style for view and its elements

#TITLE -> Style for title only

#PIN -> Style for pin

#POSITION -> Handle positions in viewport for js
*/

body {
  overflow: hidden; /* Hide scrollbars */
}

/*
#VIEW Section

Container styling;

View general styling { 
  (absolute)
  element general styling;
}

View Number {
  view--number__element--number styling;
}

!important: For Title styling refer to Title section
*/

.view__container {
  position: absolute;
  height: 500vh;
  width: 500vw;
  transition: transform 2s ease-in-out;
  background: url("/assets/img/textureContainer.jpg");
}

.view {
  position: absolute;
  width: 110vw;
  height: 110vh;

  .element {
    position: absolute;
    transition: transform 0.5s ease-in-out;
  }

  .paper { 
    // Chapter selection styling
    background: no-repeat url("/assets/img/home/police/Paper.png");
    background-size: cover;
    display: flex;
    font-family: $base-font-family-title, cursive;
    color: #f33a3a;
    font-size: 35px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 135px;
  }
}

.view--home {
  background: no-repeat url('/assets/img/Leviathan.png');
  background-size: contain;
  background-position: center;
  z-index: -2;

  .view--home__element--1 {
    background: no-repeat url("/assets/img/home/police/icionnoie.png");
    background-size: contain;
    top: 19%;
    left: 10%;
    width: 400px;
    height: 250px;

    @include smaller-screen {
      width: 300px;
    }
  }

  .view--home__element--2 {
    background: no-repeat url("/assets/img/home/police/unSeulHeros.png");
    width: 200px;
    background-position: center;
    height: 200px;
    top: 19%;
    left: 8%;

    @include smaller-screen {
      width: 300px;
    }
  }

  .view--home__element--3 {
    top: 25%;
    left: 7%;
    width: 410px;
    transform: rotate(-2deg) scale(0.9);

    @include smaller-screen {
      transform: rotate(-2deg) scale(0.8);
    }
  }

  .view--home__element--4 {
    background: no-repeat url("/assets/img/home/police/icionnoie.png");
    top: 15%;
    right: 8%;
    width: 300px;
    height: 250px;
  }

  .view--home__element--5 {
    background: no-repeat url("/assets/img/home/bouna.png");
    width: 400px;
    background-position: center;
    height: 220px;
    top: 11%;
    right: 14%;
  }

  .view--home__element--6 {
    top: 15%;
    right: 12%;
    transform: rotate(6deg) scale(0.8);
  }

  .view--home__element--7 {
    background: no-repeat url("/assets/img/home/police/icionnoie.png");
    bottom: 10%;
    right: 18%;
    width: 300px;
    height: 250px;
  }

  .view--home__element--8 {
    background: no-repeat url("/assets/img/home/MalikOussekine.png");
    width: 500px;
    background-position: center;
    height: 300px;
    bottom: 10%;
    right: 18%;
  }

  .view--home__element--9 {
    bottom: 15%;
    right: 18%;
    transform: rotate(-8deg) scale(0.8);
  }

  .view--home__element--10 {
    background: no-repeat url("/assets/img/home/police/icionnoie.png");
    bottom: 10%;
    left: 18%;
    width: 300px;
    height: 250px;
  }

  .view--home__element--11 {
    background: no-repeat url("/assets/img/home/Police.png");
    width: 300px;
    background-position: center;
    height: 200px;
    bottom: 12%;
    left: 12%;
  }

  .view--home__element--12 {
    bottom: 14%;
    left: 14%;
    transform: rotate(3deg) scale(0.9);
  }
}

.view--1 {

  .view--1__element--1 {
    background: no-repeat url("/assets/img/view--1/icionnoie\ 1.png");
    background-size: cover;
    background-position: center;
    width: 900px;
    height: 400px;
    top: 12%;
    left: -2%;

    @include smaller-screen {
      width: 600px;
    }
  }

  .view--1__element--2 {
    right: 20%;
    top: 380px;

    @include smaller-screen {
      right: 35%;
      width: 500px;
    }
  }

  .view--1__element--3 {
    background: no-repeat url("/assets/img/texturePaper.png");
    background-size: cover;
    width: 400px;
    height: 350px;
    left: 100px;
    top: 490px;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: $base-font-size;
    padding: 20px 30px;
    line-height: 130%;

    span {
      position: relative;
    }

    span::after {
      content: "";
      position: absolute;
      background: BLACK;
      top: 18px;
      left: 0;
      width: 143px;
      height: 20px;
      transform-origin: right;
      transform: scaleX();
      transition: all 0.7s;
    }
  }
}

.view--2 {

  .view--2__element--1 {
    background: no-repeat url("/assets/img/texturePaper.png");
    background-size: cover;
    top: 25px;
    left: 230px;
    width: 450px;
    padding: 20px 80px 20px 30px;
    line-height: 130%;
    font-size: $base-font-size;
    font-family: 'Pragati Narrow', sans-serif;
  }

  .view--2__element--2 {
    top: 95px;
    left: 740px;
    width: 500px;
    height: 500px;
    background: no-repeat url("/assets/img/view--2/algeriens17octobre.png");
  }

  .view--2__element--3 {
    bottom: 150px;
    left: 680px;
  }
}

.view--3 {

  .view--3__element--1 {
    background: no-repeat url("/assets/img/texturePaper.png");
    background-size: cover;
    top: 365px;
    left: 375px;
    width: 550px;
    padding: 50px 30px 20px 30px;
    line-height: $base-line-height;
    font-size: $base-font-size;
    font-family: 'Pragati Narrow', sans-serif;
  }
  
  .view--3__element--2 {
    background: no-repeat url("/assets/img/view--3/mauricepaponjuges.png");
    background-size: cover;
    width: 600px;
    height: 350px;
    left: 75px;
    top: 40px;
  }

  .view--3__element--3 {
    left: 775px;
    top: 250px;
  }
}

/******************** View styling END *********************/

/*
#TITLE Section

Title general styling {
  title__view--number styling;
}

!important: for pin styling, refer to pin section
*/

.title {
  position: relative;
  font-family: $base-font-family-title;
  font-size: 75px;
  color: $base-color-title;
  text-align: center;

  &.title__view--home {
    font-size: 105px;
    font-family: "Staatliches", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: dash 20s ease-in-out forwards;
  }

  &.title__view--1 {
    position: relative;
    top: 200px;
    left: 180px;

    &:first-child {
      top: 30px;
      left: -600px;
    }
  }

  &.title__view--3 {
    top: 75px;

    @include smaller-screen {
      left: 170px;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/******************** Title styling END *********************/

/** Positioning classes **/

.position--0 {
  transform: translate(-5vw, -5vh);
}

.position--1 {
  transform: translate(-105vw, -105vh);
}

.position--2 {
  transform: translate(-125vw, -215vh);
}

.position--3 {
  transform: translate(-85vw, -325vh);
}

.view--home {
  left: 0vw;
  top: 0vh;
}

.view--1 {
  // min gap
  top: 110vh;
  left: 110vw;
}

.view--2 {
  top: 220vh;
  left: 130vw;
}

.view--3 {
  top: 330vh;
  left: 90vw;
}

// Hover Classes

.hovered--1 {
  transform: translate(150px, -60px);
}

.hovered--2 {
  transform: translate(-20px);
}

.hovered--3 {
  transform: rotate(-2deg) scale(0.9) translate(40px, 100px) !important;

    @include smaller-screen {
      transform: rotate(-2deg) scale(0.8) translate(40px, 100px) !important;
    }
}

.chapter .element:hover {
  cursor: pointer;
}
