@import "reset.scss";
@import "stylesheet/general.scss";
@import "stylesheet/variables.scss";
@import "stylesheet/home.scss";
@import "stylesheet/mixins.scss";
@import "stylesheet/positions.scss";
@import "stylesheet/chapter--1.scss";
@import "stylesheet/chapter--2.scss";
@import "stylesheet/chapter--3.scss";
@import "stylesheet/chapter--4.scss";
@import "stylesheet/redLines.scss";


@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');

.hover {
  position: absolute;
  width: 20%;
  height: 27%;
}

.hover--1 {
  top: 16%;
  left: 9%;
}

.hover--2 {
  top: 9%;
  right: 13%;
}

.hover--3 {
  bottom: 9%;
  right: 19%;
}

.hover--4 {
  bottom: 9%;
  left: 14%;
}

