@import "variables.scss";
@import "mixins.scss";

.container__chapter--2 {

  .view--1__element--2 {
    background: center no-repeat url("/assets/img/chapitre--2/view--1/zyedetbouna.png");
    width: 1000px;
    height: 600px;
    background-size: contain;
    left: 16%;
    top: 12%;
    @include tiny-screen {
      background-size: contain;
      width: 800px;
      height: 400px;
    }
  }

  .view--1__element--2::before {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 160px;
    height: 50px;
    position: absolute;
    left: -7%;
    top: 35%;
    transform: rotate(90deg);
  }

  .view--1__element--2::after {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 160px;
    height: 50px;
    position: absolute;
    right: -7%;
    top: 55%;
    transform: rotate(90deg);
  }

  .view--1__element--1 {
    width: 700px;
    padding: 60px 30px 30px 30px;
    left: 21%;
    top: 60%;
    @include tiny-screen{
      width: 600px;
      height: 400px;
    }
  }

  .title__view--1 {
    top: 4%;
  }

  .view--2__element--1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .view--3__element--1 {
    background: center no-repeat url("/assets/img/chapitre--2/view--3/police.png");
    width: 800px;
    height: 600px;
    background-size: contain;
    left: 16%;
    top: 22%;
  }

  .view--3__element--1::before {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 160px;
    height: 50px;
    position: absolute;
    left: -7%;
    top: 5%;
    transform: rotate(-40deg);
  }

  .view--3__element--1::after {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 160px;
    height: 50px;
    position: absolute;
    right: 7%;
    bottom: 5%;
    transform: rotate(-1deg);
  }

  .view--3__element--2 {
    width: 500px;
    padding: 30px;
    top: 34%;
    left: 50%;
  }

  .view--3__element--2::after {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 160px;
    height: 50px;
    position: absolute;
    right: -13%;
    top: 55%;
    transform: rotate(90deg);
  }

  .view--3__element--2::before {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 160px;
    height: 50px;
    position: absolute;
    left: -3%;
    top: -15%;
    transform: rotate(40deg);
  }

  .title__view--3 {
    top: 8%;
  }

  .view--4__element--1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .view--5__element--1 {
    width: 500px;
    padding: 30px;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
  }

.view--5__element--1::before {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 120px;
    height: 30px;
    position: absolute;
    left: 30%;
    top: -10%;
    transform: rotate(0deg);
}

.view--5__element--1::after {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 120px;
    height: 30px;
    position: absolute;
    left: 60%;
    bottom: -10%;
    transform: rotate(0deg);
}

  .view--5__element--2 {
    top: 40%;
    left: 50%;
    transform: translate(-50%);
  }

  .view--5__element--3 {
    width: 900px;
    font-family: $base-font-family-text;
    font-size: 25px;
    line-height: $base-line-height;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    top: 55%;
    padding: 40px;
  }

  .view--5__element--4 {
    top: 80%;
    left: 80%;
  }
}