@import "variables.scss";
@import "mixins.scss";

.title.title__view--1 {
  position: relative;
  top: 200px;
  left: 180px;

  &:first-child {
    top: 30px;
    left: -600px;
  }
}

.title.title__view--3 {
  top: 75px;

  @include smaller-screen {
    left: 170px;
  }
}

.container__chapter--1 .view--1 {

  .view--1__element--1 {
    background: no-repeat url("/assets/img/chapitre--1/view--1/icionnoie.png");
    background-size: cover;
    background-position: center;
    width: 900px;
    height: 400px;
    top: 12%;
    left: -2%;

    @include smaller-screen {
      width: 600px;
    }
  }

  .view--1__element--2 {
    right: 20%;
    top: 380px;

    @include smaller-screen {
      right: 35%;
      width: 500px;
    }
  }

  .view--1__element--3 {
    background: no-repeat url("/assets/img/texturePaper.png");
    background-size: cover;
    width: 400px;
    height: 350px;
    left: 100px;
    top: 490px;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: $base-font-size;
    padding: 20px 30px;
    line-height: 130%;
  }
}

.container__chapter--1 .view--2 {

  .view--2__element--1 {
    background: no-repeat url("/assets/img/texturePaper.png");
    background-size: cover;
    top: 25px;
    left: 230px;
    width: 450px;
    padding: 20px 80px 20px 30px;
    line-height: 130%;
    font-size: $base-font-size;
    font-family: 'Pragati Narrow', sans-serif;
  }

  .view--2__element--2 {
    top: 95px;
    left: 740px;
    width: 500px;
    height: 500px;
    background: no-repeat url("/assets/img/chapitre--1/view--2/algeriens17octobre.png");
  }

  .view--2__element--3 {
    bottom: 150px;
    left: 680px;
  }
}

.container__chapter--1 .view--3 {

  .view--3__element--1 {
    background: no-repeat url("/assets/img/texturePaper.png");
    background-size: cover;
    top: 365px;
    left: 375px;
    width: 550px;
    padding: 50px 30px 20px 30px;
    line-height: $base-line-height;
    font-size: $base-font-size;
    font-family: 'Pragati Narrow', sans-serif;
  }
  
  .view--3__element--2 {
    background: no-repeat url("/assets/img/chapitre--1/view--3/mauricepaponjuges.png");
    background-size: cover;
    width: 600px;
    height: 350px;
    left: 75px;
    top: 40px;
  }

  .view--3__element--3 {
    left: 775px;
    top: 250px;
  }
}