@import "variables.scss";
@import "mixins.scss";

.container__chapter--1 {

  .title__view--1:first-of-type {
    position: absolute;
    top: 10px;
    left: 420px;
  }

  .title__view--1 {
    position: absolute;
    top: 270px;
    left: 750px;
  }
  
  .title__view--3 {
    top: 75px;
  
    @include smaller-screen {
      left: 170px;
    }
  }
}



.container__chapter--1 .view--1 {
  position: relative;
  .view--1__element--1 {
    background: no-repeat url("/assets/img/chapitre--1/view--1/icionnoie.png");
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 400px;
    top: 12%;
    left: -2%;

    @include smaller-screen {
      width: 600px;
    }
  }

  .view--1__element--1::before {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 180px;
    height: 50px;
    position: absolute;
    left: 45%;
    top: -6%;
  }

  .view--1__element--2 {
    right: 24%;
    top: 380px;

    @include smaller-screen {
      right: 35%;
      width: 500px;
      font-size: 25px;
    }
  }

  .view--1__element--2::after {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 120px;
    height: 30px;
    position: absolute;
    left: 30%;
    bottom: -12%;
    transform: rotate(5deg);
  }

  .view--1__element--3 {
    width: 400px;
    left: 100px;
    top: 570px;
    padding: 20px 30px;
    font-size: 25px;
    height: 220px;

    @include smaller-screen {
      font-size: 25px;
      height: 220px;
      top: 560px;
      left: 20px;
    }
  }

  .view--1__element--3::before {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 120px;
    height: 30px;
    position: absolute;
    left: 30%;
    top: -4%;
  }
}

.container__chapter--1 .view--2 {

  .view--2__element--1 {
    top: 25px;
    left: 230px;
    width: 450px;
    padding: 20px 80px 20px 30px;
  }

  .view--2__element--1::before {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 120px;
    height: 30px;
    position: absolute;
    left: 30%;
    top: -4%;
    transform: rotate(-5deg);
  }

  .view--2__element--1::after {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 120px;
    height: 30px;
    position: absolute;
    left: -5%;
    bottom: -4%;
    transform: rotate(10deg);
  }

  .view--2__element--2 {
    top: 95px;
    left: 740px;
    width: 500px;
    height: 500px;
    background: no-repeat url("/assets/img/chapitre--1/view--2/algeriens17octobre.png");
  }

  .view--2__element--2::after {
    content: "";
    background: center no-repeat url("/assets/img/Ellipse--red.png");
    background-size: contain;
    width: 120px;
    height: 30px;
    position: absolute;
    right: 10%;
    top: 5%;
    transform: rotate(90deg);
  }

  .view--2__element--3 {
    bottom: 150px;
    left: 680px;
  }
}

.container__chapter--1 .view--3 {

  .view--3__element--1 {
    top: 365px;
    left: 375px;
    width: 550px;
    padding: 50px 30px 20px 30px;
  }

  .view--3__element--1::before {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 160px;
    height: 50px;
    position: absolute;
    left: -12%;
    top: 25%;
    transform: rotate(90deg);
  }
  
  .view--3__element--2 {
    background: no-repeat url("/assets/img/chapitre--1/view--3/mauricepaponjuges.png");
    background-size: cover;
    width: 600px;
    height: 350px;
    left: 75px;
    top: 40px;
  }

  .view--3__element--2::after {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 120px;
    height: 30px;
    position: absolute;
    left: -10%;
    top: 25%;
    transform: rotate(90deg);
  }

  .view--3__element--2::before {
    content: "";
    background: center no-repeat url("/assets/img/Vector.png");
    background-size: contain;
    width: 120px;
    height: 30px;
    position: absolute;
    right: -10%;
    top: 45%;
    transform: rotate(90deg);
  }

  .view--3__element--3 {
    left: 775px;
    top: 250px;
  }
}