@import "variables.scss";
@import "mixins.scss";

.title.title__view--home {
  font-size: 55px;
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  animation: dash 20s ease-in-out forwards;
}

.view--home {
  background: no-repeat url("/assets/img/Leviathan.png");
  background-size: contain;
  background-position: center;
  z-index: -2;

  .view--home__element--1 {
    background: no-repeat url("/assets/img/home/malik2.png");
    background-size: contain;
    top: 15%;
    left: 11%;
    width: 400px;
    height: 250px;
    @include tiny-screen {
      width: 250px;
    }
  }

  .view--home__element--2 {
    background: no-repeat url("/assets/img/home/malikoussekine.png");
    width: 400px;
    background-position: center;
    height: 300px;
    top: 15%;
    left: 8%;
    @include tiny-screen {
      width: 220px;
      height: 200px;
    }
  }

  .view--home__element--3 {
    top: 25%;
    left: 7%;
    transform: rotate(-8deg) scale(0.8);
    @include tiny-screen {
      transform: rotate(-8deg) scale(0.8);
      width: 250px;
      height: 90px;
      font-size: 1.5em;
    }
  }

  .view--home__element--4 {
    background: no-repeat url("/assets/img/home/zyed2.png");
    background-size: contain;
    top: 15%;
    right: 12%;
    width: 300px;
    height: 250px;
    @include tiny-screen {
      width: 250px;
    }
  }

  .view--home__element--5 {
    background: no-repeat url("/assets/img/home/bouna.png");
    width: 400px;
    background-size: contain;
    background-position: center;
    height: 220px;
    top: 8%;
    right: 14%;
    @include tiny-screen {
      width: 250px;
    }
  }

  .view--home__element--6 {
    top: 15%;
    right: 12%;
    transform: rotate(3deg) scale(0.9);
    @include tiny-screen {
      transform: rotate(-8deg) scale(0.8);
      width: 250px;
      height: 90px;
      font-size: 1.5em;
      top: 18%;
    }
  }

  .view--home__element--7 {
    background: center no-repeat url("/assets/img/home/unSeulHeros.png");
    bottom: 10%;
    right: 16%;
    width: 300px;
    height: 250px;
    @include tiny-screen {
      width: 250px;
      height: 150px;
    }
  }

  .view--home__element--8 {
    background: no-repeat url("/assets/img/home/icionnoie.png");
    width: 400px;
    background-position: center;
    background-size: contain;
    height: 300px;
    bottom: 10%;
    right: 21%;
    @include tiny-screen {
      width: 280px;
      height: 250px;
    }
  }

  .view--home__element--9 {
    bottom: 15%;
    right: 18%;
    transform: rotate(4deg) scale(0.8);
    @include tiny-screen {
      transform: rotate(-8deg) scale(0.8);
      width: 250px;
      height: 90px;
      font-size: 1.5em;
      right: 21%;
    }
  }

  .view--home__element--10 {
    background: no-repeat url("/assets/img/home/Police.png");
    background-size: contain;
    bottom: 10%;
    left: 18%;

    @include tiny-screen {
      width: 250px;
      height: 150px;
    }
  }

  .view--home__element--11 {
    background: no-repeat url("/assets/img/home/police2.png");
    width: 300px;
    
    background-position: center;
    height: 200px;
    bottom: 12%;
    left: 12%;
    transform: rotate(-4deg);
    @include tiny-screen {
      width: 250px;
      height: 150px;
    }
  }

  .view--home__element--12 {
    bottom: 14%;
    left: 14%;
    width: 410px;
    transform: rotate(-2deg) scale(0.9);

    @include tiny-screen {
      transform: rotate(-3deg) scale(0.8);
      width: 280px;
      height: 90px;
      font-size: 1.5em;
      bottom: 16%;
    }
  }
}

// Hover Classes

.hovered--1 {
  transform: translate(150px, -60px);
}

.hovered--2 {
  transform: translate(-20px);
}

.hovered--3 {
  transform: rotate(-2deg) scale(0.9) translate(40px, 100px) !important;

  @include smaller-screen {
    transform: rotate(-2deg) scale(0.8) translate(40px, 100px) !important;
  }
}

.hover:hover {
  cursor: pointer;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.hover {
  position: absolute;
  width: 20%;
  height: 27%;
  z-index: 50;
}

.hover--1 {
  top: 16%;
  left: 9%;
}

.hover--2 {
  top: 9%;
  right: 13%;
}

.hover--3 {
  bottom: 9%;
  right: 19%;
}

.hover--4 {
  bottom: 9%;
  left: 14%;
}
