@import "variables.scss";
@import "mixins.scss";

/** Positioning classes **/

// Home
.view--home {
  left: 445vw;
  top: 145vh;
}

.position--0 {
  transform: translate(-450vw, -150vh);
}

// Chapter 1

.container__chapter--1 {

  .view--1 {
    top: 255vh;
    left: 520vw;
  }

  .view--2 {
    top: 370vh;
    left: 490vw;
  }

  .view--3 {
    top: 480vh;
    left: 510vw;
  }
}

.position--1 {
  transform: translate(-515vw, -255vh);
}

.position--2 {
  transform: translate(-485vw, -365vh);
}

.position--3 {
  transform: translate(-505vw, -475vh);
}


// Chapter 2

.container__chapter--2 {

  .view--1 {
    top: 140vh;
    left: 550vw;
  }

  .view--2 {
    top: 210vh;
    left: 650vw;
  }

  .view--3 {
    left: 690vw;
    top: 330vh;
  }
}

.position--4 {
  transform: translate(-555vw, -145vh);
}

.position--5 {
  transform: translate(-655vw, -215vh);
}

.position--6 {
  transform: translate(-695vw, -5vh);
}
