@import "variables.scss";
@import "mixins.scss";

/** Positioning classes **/

// Home
.view--home {
  left: 445vw;
  top: 145vh;
}

.position--0 {
  transform: translate(-450vw, -150vh);
}

// Chapter 1

.container__chapter--1 {

  .view--1 {
    top: 255vh;
    left: 520vw;
  }

  .view--2 {
    top: 370vh;
    left: 490vw;
  }

  .view--3 {
    top: 480vh;
    left: 510vw;
  }
}

.position--1 {
  transform: translate(-515vw, -255vh);
}

.position--2 {
  transform: translate(-485vw, -365vh);
}

.position--3 {
  transform: translate(-505vw, -475vh);
}


// Chapter 2

.container__chapter--2 {

  .view--1 {
    top: 140vh;
    left: 550vw;
  }

  .view--2 {
    top: 210vh;
    left: 650vw;
  }

  .view--3 {
    left: 690vw;
    top: 330vh;
  }

  .view--4 {
    left: 730vw;
    top: 440vh;
  }

  .view--5 {
    left: 670vw;
    top: 550vh;
  }
}

.position--4 {
  transform: translate(-555vw, -145vh);
}

.position--5 {
  transform: translate(-655vw, -215vh);
}

.position--6 {
  transform: translate(-695vw, -335vh);
}

.position--7 {
  transform: translate(-735vw, -445vh);
}

.position--8 {
  transform: translate(-675vw, -555vh);
}

// Chapter 3 

.container__chapter--3 {

  .view--1 {
    left: 335vw;
    top: 255vh;
  }

  .view--2 {
    left: 295vw;
    top: 365vh;
  }

  .view--3 {
    left: 345vw;
    top: 480vh;
  }

  .view--4 {
    left: 405vw;
    top: 595vh;
  }
}

.position--9 {
  transform: translate(-340vw, -260vh);
}

.position--10 {
  transform: translate(-300vw, -370vh);
}

.position--11 {
  transform: translate(-350vw, -485vh);
}

.position--12 {
  transform: translate(-410vw, -600vh);
}